<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watch Animu</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/anis.png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


</head>

<body>
    <div class="app-admin">
        {{>sidebar}}
        <div class="container-admin">
            {{{body}}}
        </div>
    </div>
</body>

</html>