<div class="mt-4">
    <h3>Tạo Anime</h3>
    <form method="POST" action="/anime/store">
        <div class="form-group">
            <label for="name">Name </label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="image">image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="videoID">trailerVideoID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <div class="form-group">
            <label for="genres">Genres</label><br>

            <input type="checkbox" id="action" name="genres" value="action">
            <label for="action">Action</label><br>

            <input type="checkbox" id="drama" name="genres" value="drama">
            <label for="drama">Drama</label><br>

            <input type="checkbox" id="comedy" name="genres" value="Drama">
            <label for="comedy">Comedy</label><br>

            <input type="checkbox" id="adventure" name="genres" value="adventure">
            <label for="adventure">Adventure</label><br>

            <input type="checkbox" id="fantasy" name="genres" value="fantasy">
            <label for="fantasy">Fantasy</label><br>

            <input type="checkbox" id="harem" name="genres" value="harem">
            <label for="harem">Harem</label><br>

            <input type="checkbox" id="romance" name="genres" value="romance">
            <label for="romance">Romance</label><br>

            <input type="checkbox" id="school" name="genres" value="school">
            <label for="school">School</label><br>

            <input type="checkbox" id="yuri" name="genres" value="yuri">
            <label for="yuri">Yuri</label><br>

        </div>

        <button type="submit" class="btn btn-primary">OK</button>

    </form>

</div>