<div class="login-page">
    <div class="form">
        <h2>New Post</h3>
            <form method="POST" action="/forum/new-post-forum">
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                <input type="text" class="form-control" id="sumary" name="sumary" placeholder="sumary">
                <textarea name="content" id="" cols="30" rows="10" placeholder="Content"></textarea>
                <input type="text" class="form-control" id="image" name="image" placeholder="image">
                <button type="submit" class="btn btn-primary">OK</button>

            </form>
    </div>

</div>