<div class="news">
    <div class="notification">
        <h1>ĐÂY LÀ TRANG TIN TỨC</h1>
    </div>
    {{!-- {{#if loggedIn}} --}}
    {{#if loggedIn}}

    <a href="/news/new-post"><button type="submit" class="btn btn-primary">New Post</button></a>
    {{/if}}

    {{!-- {{/if}} --}}
    <div class="grid">
        {{#each posts}}
        <div class="grid-items">
            <div class="image-news">
                <img src="{{this.image}}" alt="...">
            </div>
            <div class="content-news">
                <h3>{{this.content}}</h3>
            </div>
        </div>
        {{/each}}
    </div>
</div>