* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8;
}

.container {
  margin: auto;
  max-width: 1380px;
}



/* css header */
.header .nav_buttons button {
  padding: 1em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.header .nav_buttons .btn-login {
  background-color: #23c483;
}

.header .nav_buttons button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.header .nav_buttons button:active {
  transform: translateY(-1px);
}

.header .search .nav_search_button {
  margin-left: 10px;
  padding: 0em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.header .search .nav_search_button:hover {
  transform: translateY(-7px);
}

.header .search .input_search {
  background-color: #fff;
  /* màu nền của input */
  border: 2px solid #ddd;
  /* độ rộng và màu viền của input */
  border-radius: 20px;
  /* độ cong viền của input */
  color: #333;
  /* màu chữ trong input */
  font-size: 16px;
  /* kích thước chữ trong input */
  padding: 10px 20px;
  /* khoảng cách giữa vùng chữ và viền của input */
  width: 300px;
  /* độ rộng của input */
  height: 30px;
}

.header .search .input_search:focus {
  border-color: #23c483;
  /* đổi màu viền khi focus */
  box-shadow: 0 0 5px #23c483;
  /* đổ bóng khi focus */
  outline: none;
  /* xóa đường viền khi focus */

}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111;
}

.logo {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

.logo b {
  font-size: 70px;
  color: #7f00ff;
}

.nav_items {
  display: flex;

}

.nav_items li {
  list-style: none;
  margin: 0 15px;

}

.nav_items li a {
  font-size: 20px;
  color: #3d535f;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav_items li:hover a {
  color: #7f00ff;
}

.search {
  display: flex;
  font-size: 15px;
  color: #3d535f;
  margin: 25px 10px;
}

/* hết css header */


.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;


}

.slides {
  width: 500%;
  height: 500px;
  display: flex;

}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #40D3DC;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #40D3DC;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #40D3DC;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #40D3DC;
}





.card {
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.card-avatar {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
}


/*Card footer*/
.card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
}

.card-social__item {
  list-style: none;
}

.card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

/*Hover*/
.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.card-avatar:hover {
  transform: scale(1.1);
}



.episode-button {
  padding: 5px 10px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.episode-button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.episode-button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}









.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
}


.grid-items {
  position: relative;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;

}

.grid-items img {
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.5s;
  width: 274px;
  height: 200px;
}

.grid-items img:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.grid-items .items-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.grid-items img:hover .items-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.announcement {
  margin: 0 auto 10px;
  width: 100%;
  background: #2d2d2d;
  padding: 10px;
  border-radius: 3px;
}

.announcement h3 {
  text-align: center;
  color: red;
}


.col-sm-6.col-md-2 .grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 82px);
  gap: 4px;
  padding-left: 6px;
  max-height: 284px;
  box-sizing: border-box;
}

.col-sm-6.col-md-2 .grid .grid-items {
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  line-height: 44px;
  padding: 0 8px;
  width: 82px;
  height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-align: center;
  display: block;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vn;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.cols {
  width: 50%;
}

.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: #3d535f;
  ;

}

.topline::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #7882e2;
}

h1 {
  display: block;
  font-size: 7em;
  font-weight: 900;
  color: #3d535f;
}

.multiText {
  color: #7882e2;
  text-transform: capitalize;
}

.content .logo {
  justify-content: center;
}



.wrapper p {
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #3d535f;
}

.wrapper .btn {
  width: 100%;
  position: relative;
  left: 150px;
}

.wrapper button:hover {
  background-color: #7882e2;
}

.wrapper button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.wrapper .img {
  position: relative;
  width: 80%;
  height: 100%;
}

.wrapper .img img {
  position: relative;
  height: 70%;
  width: calc(150% - 80px);
  top: -0;
  right: 50px;
  transform: rotateY(180deg);
  animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: -10px;
  }
}




.footer-dark {
  padding: 20px 0;
  color: #f0f9ff;
  background-color: #fdfcfc;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}


@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}


.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(16, 16, 16);
  margin: 0 8px;
  color: rgb(14, 14, 14);
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  font-size: 25px;
  margin-bottom: 0;
  color: white;
}


.badge-genre {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  margin: 0 10px;
  background-color: #5FD6D4;
  color: #FFFFFF;
  cursor: pointer;
}


.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}




.article-card {
  display: flex;
  grid-template-columns: 285px minmax(300px, 445px);
  max-width: 1080px;
  margin-bottom: 20px;
  height: 239px;
  border-radius: 10px;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02),
    25px 25px 20px hsla(0, 0%, 0%, 0.03),
    100px 100px 80px hsla(0, 0%, 0%, 0.05);
}

.img-box {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  flex-grow: 0;
}

.article-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: all 0.5s ease;
}

.article-card:hover .article-banner {
  transform: scale(1.1);
}

.article-content {
  display: flex;
  background: #fff;
  padding: 32px 40px;
  border-radius: 0 10px 10px 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.article-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 12px;
  line-height: 1.4;
}

.article-text {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.acticle-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-name {
  color: #333;
  font-size: 14px;
}

.publish-date {
  color: #666;
  font-size: 14px;
}

.author-avater {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}


.avt-profile {
  padding-top: 20px;
}

.contact {
  padding: 8% 0 0;

}

.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

}

.form textarea {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #234666;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #0e2941;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #234666;
  text-decoration: none;
}

.forum button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #234666;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}



.news button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #234666;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}




.news .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
}


.news .grid-items {
  position: relative;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff;


}

.news .grid-items img {
  border-radius: 10px;
  object-fit: cover;
  transition: transform 1s;
  width: 297.5px;
  height: 204px;
}

.news .content-news {
  padding-top: 20px;
}

.user-comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-comment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-comment .user-info {
  display: flex;
  flex-direction: column;
}

.user-comment .user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.user-comment .comment-text {
  margin-bottom: 5px;
}

.user-comment .comment-timestamp {
  color: #999;
  font-size: 12px;
}