<div class="footer-dark">
    <footer>
        <div class="footer">
            <div class="row">
                    
                <div class="col item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
            <p class="copyright">
                Animu Watch TV 2023</p>
        </div>
    </footer>
</div>
