<div class="header">
  <nav>
    <div class="logo">animu<b>.</b>
    </div>
    <ul class="nav_items">
      <li><a href="/">HOME</a></li>
      <li><a href="/anime">ANIME</a></li>
      <li><a href="/news">NEWS</a></li>
      <li><a href="/forum">FORUM</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    <form class="search" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">SEARCH</button>
    </form>
    <div class="nav_buttons">
      <button> Log In</button>
      <button> Log Out</button>

    </div>

  </nav>
</div>