<nav>
  <div class="logo">animu<b>.</b></div>
    <ul class="nav_items">
      <li><a href="">Homepage</a></li>
      <li><a href="">Anime</a></li>
      <li><a href="">News</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <form class="search" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>