<div class="header">
  <nav>
    <div class="logo">animu<b>.</b>
    </div>
    <ul class="nav_items">
      <li><a href="/">HOME</a></li>
      <li><a href="/anime">ANIME</a></li>
      <li><a href="/news">NEWS</a></li>
      <li><a href="/forum">FORUM</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    <form class="search" role="search">
      <input class="input_search" type="search" placeholder="Search" aria-label="Search">
      <button class="nav_search_button" type="submit">SEARCH</button>
    </form>
    <div class="nav_buttons">
      {{#if loggedIn}}
      <h3>{{userLogin.mail}}</h3>
      {{else}}
      <button><a href="/logout">Logout</a></button>
      <button class="btn-login"><a href="/login">Login</a></button>
      {{/if}}
    </div>

  </nav>
</div>