<div class="content">
    <div class="announcement">
        <h3>Một trang web được làm bởi atarashiiJS</h3>
    </div>
    <div class="container">
        <div class ="wrapper">
            <div class="cols cols0">
                <span class="topline">Chao zìn</span>
                <h1>I'm <span class="multiText">Anisphia Wynn</span></h1>
                <p>Đây là một trang web cho tôi tạo ra, hãy cùng tôi trải nghiệm nhé</p>
                <div class="btn">
                    <button>Xem phim</button>
                </div>
            </div>
            <div class="cols cols1">
                <div class="img">
                      <img src="/img/homepage.png" alt="">  
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

   