<section class="content">
    <div class="announcement">
        <h3>Một trang web được làm bởi Haneko</h3>
    </div>
    <div class="test">
        <div class="wrapper">
            <div class="cols cols0">
                <span class="topline">Chao zìn</span>
                <h1>I'm <span class="multiText">Anisphia Wynn</span></h1>
                <p>Đây là một trang web cho tôi tạo ra, hãy cùng tôi trải nghiệm nhé</p>
                <div class="btn">
                    <a href="/anime"><button>Xem phim</button></a>
                </div>
            </div>
            <div class="cols cols1">
                <div class="img">
                    <img src="/img/homepage.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <h3>Anime Tuần</h3>
        <div class="grid">
            {{#each animes}}
            <div class="grid-items">
                <a href="/anime/{{this.slug}}">
                    <img src="{{this.image}}" alt=""> </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="content">
        <h3>Anime Hot</h3>
        <div class="grid">
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <h3>Anime Thích là ĐẶt</h3>
        <div class="grid">
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
            <div class="grid-items">
                <img src="/img/anis.png" alt="">
            </div>
        </div>
    </div>

    </div>
</section>