<div class="mt-4">
    <div class="row">
        {{#each posts}}
        <div class="col-sm-6" col-lg-4>
            <div class="card" style="width: 18rem;">
                <span>{{this.tittle}}</span>
                <div class="card-body">
                    <img src="{{this.image}}" alt="">
                    <span>{{this.content}}</span>
                    <span>{{this.author}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>